.addUser {
  position: absolute;
  top: -40px;
  right: 20px;

  border: none;
  // height: 100%;
  margin: 0px;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  border: 1px solid #f5a800;
  /* background: #f5f5f5; */
  /* background: #eeeeee; */
  background: none;
  // color: #f5a800;
  cursor: pointer;
  transition: all 500ms ease 0s;
}

button:hover {
  background-color: #f5a800;
  color: #ffffff;
}

.header {
  // background: green;
  // height: 12px;
  left: 268px;
  // top: 102px;
  margin: 20px 30px 0 30px;
  // width: 90%;
  text-align: center;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  /* Text */

  color: #030229;

  opacity: 0.7;

  span {
    display: inline-block;
    margin: 0 10px 0 0;
  }

  span:nth-child(1) {
    width: 25%;
  }
  span:nth-child(2) {
    width: 30%;
  }
  span:nth-child(3) {
    width: 25%;
  }
  span:nth-child(4) {
    width: 15%;
  }
}

.card {
  text-align: center;
  // width: 859px;
  // width: 90%;
  margin: 0 30px 0 30px;
  height: 60px;
  left: 248px;
  top: 268px;

  background: hsl(0, 0%, 100%);
  border-radius: 10px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  div:nth-child(1) {
    width: 25%;
  }
  div:nth-child(2) {
    width: 30%;
  }
  div:nth-child(3) {
    width: 25%;
  }
  div:nth-child(4) {
    width: 15%;
  }

  .name {
    // width: 30px;
    height: 30px;
    left: 268px;
    top: 283px;

    display: flex;
    align-items: center;
    gap: 10px;
  }
  span {
    // width: 89px;
    height: 19px;
    left: 309px;
    top: 290px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    /* Text */

    color: #030229;
  }

  .genre {
    padding: 10px;
    width: fit-content;
    // background: #5b93ff;
    border-radius: 33px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }

  .maleText {
    background: #eff4ff;
    color: #5b93ff;
  }

  .femaleText {
    background: #fdf2ee;
    color: #ff8f6b;
  }

  img {
    width: 30px;
    height: 30px;
    left: 268px;
    top: 283px;

    mix-blend-mode: normal;
    background: #f7d0d0;
    border-radius: 50%;
  }
}

.card:hover {
  box-shadow: 1px 17px 44px rgba(3, 2, 41, 0.07);
}
